.contenedor{
    display:flex;
}

.barra{
    width:12%;
    height:100vh;
    background:#ffffff;
    padding:10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.05);
}


.perfil{
    display:flex;
    align-items:center;
    gap:10px;
    padding:10px;
    border-radius:6px;
    cursor:pointer;
}

.perfil img{
    width:40px;
    height:40px;
    border-radius:50%;
    object-fit:cover;
}

.perfil:hover{
    background:#f2f2f2;
}

/* Items */
.menu-item{
    display:flex;              
    align-items:center;       
    gap:10px;
    padding:10px;
    border-radius:6px;
    cursor:pointer;
}

.menu-item img{
    width:24px;
    height:24px;
    object-fit:cover;
}

.menu-item:hover{
    background:#f2f2f2;
}

/* Contenido principal mas tarde modificar  */
.main{
    flex:1;
    padding:20px;
    background:#ffffff;
}



