body {
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.box-titulo {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

}



.logo {
  width: 40px;
  height: 40px;
}


.center {
  display: flex;
  justify-content: center;
}

.lupa {
  background-color: #f0f2f5;
  border: none;
  border-radius: 20px;
  padding: 10px 14px;
  width: 250px;
  outline: none;
}

.boton {
  background-color: #ffffff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  left: 290px;
  
}
.boton1{
  background-color: #ffffff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  left: 310px;
}
.boton2{
  background-color: #ffffff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  left: 340px;
}
.boton3{
  background-color: #ffffff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  left: 370px;
}
.boton4{
  background-color: #ffffff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  left: 385px;
}
.img-home {
  width: 70px;
  height: 40px;
}

.img-video {
  width: 45px;
  height: 40px;
}

.market {
  width: 35px;
  height: 28px;
}
.grupo {
  width: 60px;
  height: 40px;
}
.juego {
  width: 65px;
  height: 45px;
}








  
  


    
