body {
  background-color: #ffe6f0;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
   
}

/* Caja del título */
.box-titulo {
  background-color: #180374;
  border: 4px solid #a37e06;
  width: 99.3%;
  padding: 3px;
  margin: 0;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  margin-top: -7px;
  position: relative;
  left: -1px;
}

/* Título */
.titulo {
  font-size: 40px;
  font-family: 'Profusely Yours', cursive;
  color: white;
  letter-spacing: 2px;
  transform: scaleX(1.1);
}

/* Logo */
.logo {
  width: 200px;
  height: auto;
  margin-top: -135px;
  position: relative;
}

/* Texto inferior */
#orden {
  font-family: 'Profusely Yours', cursive;
  font-size: 25px;
  position: relative;
  top:-50px;
}



  
  


    
