/* Caja del formulario */
form {
  font-family: 'Profusely Yours', cursive;
  background-color: #ffffff;
  border: 2px solid #a37e06;
  border-radius: 10px;
  width: 350px;
  margin: -40px auto;
  padding: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  
}

/* Subtítulos */
h3 {
  color: #180374;
  font-size: 19px;
  margin-bottom: 5px;
}

/* Inputs y textarea */
input, textarea {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

input:focus, textarea:focus {
  border-color: #a37e06;
  outline: none;
}

/* Botón */
button {
  background-color: #a37e06;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;
}

.Enviar:hover:hover {
  background-color: #180374;
}


