.post-box{
    display:flex;
    align-items:center;
    gap:10px;

    background:#e4e6eb;
    padding:10px;
    border-radius:12px;

    width:600px; /* puedes ajustarlo */
}

/* Imagen perfil */
.post-avatar{
    width:40px;
    height:40px;
    border-radius:50%;
    object-fit:cover;
}

/* Input */
.post-input{
    flex:1;
    border:none;
    outline:none;

    background:#f0f2f5;
    padding:10px 15px;
    border-radius:20px;

    font-size:14px;
}

/* Iconos */
.post-icons{
    display:flex;
    gap:10px;
    font-size:18px;
    cursor:pointer;
}

